{
  "settings": {
    "import/extensions": [
      ".js",
      ".ts",
      ".d.ts"
    ],
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts",
          ".tsx",
          ".d.ts"
        ]
      }
    },
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx",
        ".d.ts"
      ]
    }
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "global": true
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "import/default": "off",
    "semi": "error",
    "no-nested-ternary": "error",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "prettier/prettier": [
      "error"
    ],
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "import/no-extraneous-dependencies": "off"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "import",
    "prettier"
  ]
}